langchain==0.0.137
langchain-wikipedia==0.1.3
langchain-arxiv==0.1.3
python-dotenv
streamlit
langchain_community
bs4
beautifulsoup4
pypdf
faiss-cpu
groq
langchain-groq
fastapi
uvicorn
sse_starlette
googletrans
aiocache  # Nueva adición para caché asincrónico
